@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome</h1>

    <h2>Deliverable Desriptions</h2>
    <h3>Query</h3>
    <p>Display the results of looking Programs by Program Name. The user will be able to enter the program name or portion of the name. The result of the query will be a table presentation of the Programs containing the search argument.</p>
    <h3>CRUD</h3>
    <p>CRUD page allows user to perform record maintenance, such as single item Create/Read/Update/Delete. For example, removing a program course from a program.</p>

    <h2>Known Bugs</h2>
    <p>None</p>

    <h2>Entity Relationship Diagram</h2>
    <img src="~/img/A03New.png" alt="Scenario 3 ERD"
         title="Scenario 3 ERD" />

    <h2>Site Styling Decision</h2>
    <p>holiday.css</p>
</div>
